<% provide(:topright,"User") %>
<% provide(:title,"Request Status") %>


<h1>Your Requests</h1><pre>
<%= "Filter : " %>      <%= "To date"%>                <%= "Upto"%></pre>         
<%= form_tag(filter_report_bills_path, method: "get") do %>
<%=select_tag 'status_his', options_for_select([["NONE","3"],["PENDING","0"],["ACCEPTED","1"],["DECLINED","2"]]) %>

<input style="height:27px" type="date" name="dat">
<input style="height:27px" type="date" name="dat_to">
  

  <%= submit_tag 'Submit'%>

  <% end %>



<h1>Requests You to approve: </h1>

<pre><% Settle.where("payee = #{@curr}").each do |obj| %>
  <%= "To take #{obj.amount} from #{User.find("#{obj.payer}").email}" %>
   
   <%= form_tag(edit_bill_path(obj), method: "get") do %>
  
    <%= select_tag 'status_op', options_for_select(["PENDING","ACCEPTED","DECLINED"]) %>
  <%= hidden_field_tag :id, obj.id %>
    <%= submit_tag 'Settle'%>
  <% end %>


   <%end%><br>
  </pre>








<%= link_to 'Dashboard', bills_path %>
