<% provide(:topright,"Hi") %>
<% provide(:title,"Request Status") %>

<pre class = 'test'>
<table>
           <th><%= "Date :" %></th>
           <th>          <%= "Amount  :" %></th>
           <th>          <%= "To whom : " %></th>
           <th>          <%= "Status  : " %></th>
</table>
<table>
<% @settles.each do |obj| %>
<tr><td><%= "#{obj.updated_at.strftime("%m/%d/%y")}"%></td>
  <td>          <%= "#{obj.amount}"%></td>
  <td>          <%= "#{User.find("#{obj.payee}").email}" %></td>
   <% if obj.status == 0 %>
   <td>    <%= "Pending ..."%></td>
   <% elsif obj.status == 1 %>
   <td>    <%= "Accepted :)"%></td>
   <% else %>
   <td>    <%= "Declined :("%></td></tr>
   <%end%><br>
 <%end%></table></pre>
<br>
<br>
<%= link_to 'Dashboard', bills_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'New Bill', new_bill_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "Sign out", destroy_user_session_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Requests', bill_request_bills_path %>